.form-container {
    width: auto;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group input {
    width: calc(50% - 10px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group input:last-child {
    margin-right: 0;
  }
  
  .form-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
  }
  
  .form-group label {
    display: flex;
    align-items: center;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .btn-register {
    background-color: #333;
    color: white;
  }
  
  .btn-edit {
    background-color: #555;
    color: white;
  }
  
  .btn-delete {
    background-color: white;
    color: #333;
    border: 1px solid #ccc;
  }
  