  .base {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15.5px;
    height: 500px;
    background-color: #87a09d;
  }
  .list {
    display: flex;
    gap: 1em;
    align-items: center;
    list-style: none;
    margin-top: 2em;
  }
  .list button { 
    background-color: #1b3e4d;
    color: white; 
}
  .list button:hover { 
    background-color: #356274; 
    color: white;
    border-color: #356274; 
}