/* CreateAnalista.css */

#wrapper-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87a09d; /* Fundo da página */
    padding: 15.5px;
    height: 100%;
    min-height: 100vh; /* Garante que o contêiner ocupe toda a altura da janela */
    color: black; /* Texto preto */
}
  
#footer-4 .inner-4 {
    background: #356274;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black; /* Texto preto */
}
  
h2 {
    margin-bottom: 20px;
    text-align: center;
    color: black; /* Texto preto */
}
  
.input-field-4 {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: white; /* Fundo branco para as caixas de texto */
    color: black; /* Texto preto */
}
  
textarea.input-field-4 {
    height: auto;
    background-color: white; /* Fundo branco para o textarea */
    color: black; /* Texto preto */
}
  
.primary.button-4 {
    background: #1b3e4d;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.primary.button-4:hover {
    background: #87a09d;
    color: black; /* Texto preto ao passar o mouse */
}
  
.actions-4 {
    text-align: center;
}

.actions-4 li {
    display: inline-block;
    margin-right: 45px;
}

label {
    margin-left: 5px;
    font-size: 14px;
    color: black; /* Texto preto */
}

.error {
    color: red;
    font-size: 10px;
}

table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  thead th {
    background-color: #1b3e4d;
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  tbody th {
    background-color: #1b3e4d;
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  td {
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: center;
    font-weight: normal;
  }
  
  h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  