/* CreateAnalista.css */

#wrapper3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87a09d;
    height: 100%;
    padding: 20px;
    margin-left: 0%;
  }
  
  #footer3 {
    height: 100%;
  }

  #footer3 .inner3 {
    background: #356274;
    margin-left: 24%;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .input-field3 {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  textarea.input-field3 {
    height: auto;
  }
  
  .primary.button3 {
    background: #1b3e4d;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .primary.button3:hover {
    background: #87a09d;
  }
  
  .actions3 {
    text-align: center;
  }
  
  .actions3 li {
    display: inline-block;
    margin-right: 10px;
  }
  
  label {
    margin-left: 5px;
    font-size: 14px;
  }
  .error {
    color: red;
    font-size: 10px;
  }	