.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    height: 500px;
    background-color: #87a09d;
}

.loginForm {
    background: #356274;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.formGroup {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.primaryButton {
    width: 100%;
    padding: 10px;
    background-color: #1b3e4d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.primaryButton:hover {
    background-color: #87a09d;
}

.marginTop {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}