.base {
  display: flex;
  flex-direction: column;
  padding: 15.5px;
  height: 100%;
  background-color:   #87a09d;
}

.text{
  width: 60%;
}

.list {
  display: flex;
  gap: 1em;
  align-items: center;
  list-style: none;
  margin-top: 2em;
}

.button { 
  background-color: #1b3e4d;
  color: white; 
}


.button:hover { 
  background-color: #356274; 
  color: white;
  border-color: #356274; 
}