.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.loginForm {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.formGroup {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.loginButton {
    width: 100%;
    padding: 10px;
    background-color: #2d0172;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.loginButton:hover {
    background-color: #5100d3;
}
.secondaryButton  {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}